.pic {
    /* width: 100%; */
    /* height: 100%; */
    display: flex;
    /* border-top-right-radius: 0.5rem; */
    /* border-top-left-radius: 0.5rem; */
    justify-content: center

  }
  /* Base styles */
.body {
    font-family: sans-serif;
    /* margin: 0; */
    padding: 0;
    background-color: rgb(155, 145, 145);

    display: grid;
    grid-template-columns: auto auto;
    /* align-items: center; Align content vertically */
    /* width: 100%; */
    
  }
  .recipeDetails {
    display: flex;
    /* object-fit: cover; */
    /* width: 100%; */
    flex-direction: column;
    padding: 1rem; /* Adjust padding as needed */
    margin-right: auto;
    max-width: 800px;
    background-color: #d3caca; /* Optional background color */
    border-radius: 5px; /* Optional rounded corners */
    box-sizing: border-box; /* Ensure padding doesn't affect width */
  }


  .recipeInfo {
    /* display: flex; */
    /* object-fit: cover; */
    /* width: 100%; */
    /* flex-direction: column; */
    padding: 1rem; /* Adjust padding as needed */
    /* margin-left: auto; */
    /* max-width: 600px; */
    /* gap: 50px; */
    background-color: #f6eded; /* Optional background color */
    /* border-radius: 5px; Optional rounded corners */
    /* box-sizing: border-box; Ensure padding doesn't affect width */
    /* display: grid; */

  }

  .recipeCourse {

    padding: 1rem;
    background-color: lightyellow;
    /* max-width: 800px; */
    border-radius: 5px;
    width: 100%;

  }
  
  .recipeContainer {
    overflow: hidden;
    
  }
  
  .recipeImage {
    width: 100%;
    height: auto;
    object-fit: cover; 
  }
  
  .recipeTitle {
    margin-top: 1rem; /* Adjust margin as needed */
    font-size: 1.2em;
    font-weight: bold;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .recipeDetails {
      padding: 0.5rem; /* Adjust padding for smaller screens */
    }
  }
  
  .badge {
    display: grid;
    gap: 50px;
    grid-template-columns: auto auto auto auto;

  }
  