.pic {
  display: flex;
  justify-content: center;
}

.recipeDetails {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-right: auto;
  max-width: 800px;
  background-color: #d3caca;
  border-radius: 5px;
  box-sizing: border-box;
}

.recipeInfo {
  padding: 1rem;
  background-color: #f6eded;
}

.recipeImage {
  width: 90%;
  height: auto;
  object-fit: cover;
}

.recipeTitle {
  margin-top: 1rem; /* Adjust margin as needed */
  font-size: 1.2em;
  font-weight: bold;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .recipeDetails {
    padding: 0.5rem; /* Adjust padding for smaller screens */
  }
}
